In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('df_CH.csv')

In [3]:
df.head()

,Unnamed: 0,110141955911,110144756389,1127347129716,110698529950,1127343129682,110699130179,110696328886,110145356508,110144156211,...,Price_DT,Export_price,Hour,Set_T,Req_kWh,Req_kWh_no_Solar,Temp,DHW_kWh,Price_flat_mod,Price_DT_mod
0,2015-01-01 00:00:00+01:00,0.0,0.18,0.01,0.01,0.02,0.04,0.07,0.34,0.18,...,0.1646,0.04494,0.0,16.0,2.34622,2.34622,-2.4,0.028764,0.1716,0.130034
1,2015-01-01 00:15:00+01:00,0.0,0.17,0.01,0.01,0.02,0.04,0.08,0.12,0.19,...,0.1646,0.04494,0.0,16.0,2.34622,2.34622,-2.4,0.021012,0.1716,0.130034
2,2015-01-01 00:30:00+01:00,0.0,0.16,0.03,0.01,0.02,0.07,0.08,0.39,0.16,...,0.1646,0.04494,0.0,16.0,2.34622,2.34622,-2.4,0.049076,0.1716,0.130034
3,2015-01-01 00:45:00+01:00,0.0,0.18,0.00,0.03,0.00,0.07,0.06,0.59,0.16,...,0.1646,0.04494,0.0,16.0,2.34622,2.34622,-2.4,0.023250,0.1716,0.130034
4,2015-01-01 01:00:00+01:00,0.0,0.17,0.01,0.02,0.00,0.05,0.05,0.11,0.17,...,0.1646,0.04343,1.0,16.0,2.27940,2.27940,-1.8,0.066338,0.1716,0.130034

In [12]:
(df.E_PV).sum().mean()/(1*365*24)*100

16.336051254632107

In [13]:
df.E_PV.max()*4

1.061835276738924

In [14]:
(df.E_PV).sum()

1431.0380899057725

In [19]:
(df.E_PV*4.8).sum().mean()/(4.8*365*24)*100

16.336051254632103

In [20]:
(df.E_PV*4.8).max()*4

5.096809328346835