In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta
import os
os.getcwd()

'/data/home/alejandropena/Project1/Paper1_last'

In [2]:
df2=pd.read_csv('../../BASOPRA_IRES/Input/df_CH_Marzia3.csv',engine='python',sep=';|,',index_col=[0],
                    parse_dates=[0],infer_datetime_format=True )

In [3]:
df2.head()

,110141755827,110141755828,110141755829,110141755830,110141755831,110141755832,110141755833,110141755834,110141755835,110141755836,...,Price_DT,Export_price,Hour,Set_T,Req_kWh,Req_kWh_no_Solar,Temp,DHW_kWh,Price_flat_mod,Price_DT_mod
2017-01-01 00:00:00+01:00,0.18,0.05,0.04,0.19,0.02,0.02,0.05,0.03,0.13,0.04,...,0.1646,0.05704,0.0,16.0,2.34622,2.34622,-2.4,0.028764,0.1716,0.130034
2017-01-01 00:15:00+01:00,0.17,0.06,0.02,0.03,0.04,0.00,0.04,0.00,0.10,0.04,...,0.1646,0.05704,0.0,16.0,2.34622,2.34622,-2.4,0.021012,0.1716,0.130034
2017-01-01 00:30:00+01:00,0.16,0.07,0.04,0.12,0.03,0.01,0.04,0.01,0.09,0.04,...,0.1646,0.05704,0.0,16.0,2.34622,2.34622,-2.4,0.049076,0.1716,0.130034
2017-01-01 00:45:00+01:00,0.19,0.05,0.03,0.03,0.02,0.02,0.05,0.02,0.14,0.04,...,0.1646,0.05704,0.0,16.0,2.34622,2.34622,-2.4,0.023250,0.1716,0.130034
2017-01-01 01:00:00+01:00,0.17,0.14,0.03,0.03,0.02,0.01,0.07,0.01,0.12,0.04,...,0.1646,0.05194,1.0,16.0,2.27940,2.27940,-1.8,0.066338,0.1716,0.130034

In [6]:
df2.keys()

Index(['110141755827', '110141755828', '110141755829', '110141755830',
       '110141755831', '110141755832', '110141755833', '110141755834',
       '110141755835', '110141755836',
       ...
       'Price_DT', 'Export_price', 'Hour', 'Set_T', 'Req_kWh',
       'Req_kWh_no_Solar', 'Temp', 'DHW_kWh', 'Price_flat_mod',
       'Price_DT_mod'],
      dtype='object', length=679)

In [66]:
df2.iloc[:,:-11].reset_index().to_csv('Input/Electricity_demand_supply_2017.csv')

In [18]:
df2.iloc[:,-11:].head()

,Price_flat,Price_DT,Export_price,Hour,Set_T,Req_kWh,Req_kWh_no_Solar,Temp,DHW_kWh,Price_flat_mod,Price_DT_mod
2017-01-01 00:00:00+01:00,0.29,0.1646,0.05704,0.0,16.0,2.34622,2.34622,-2.4,0.028764,0.1716,0.130034
2017-01-01 00:15:00+01:00,0.29,0.1646,0.05704,0.0,16.0,2.34622,2.34622,-2.4,0.021012,0.1716,0.130034
2017-01-01 00:30:00+01:00,0.29,0.1646,0.05704,0.0,16.0,2.34622,2.34622,-2.4,0.049076,0.1716,0.130034
2017-01-01 00:45:00+01:00,0.29,0.1646,0.05704,0.0,16.0,2.34622,2.34622,-2.4,0.023250,0.1716,0.130034
2017-01-01 01:00:00+01:00,0.29,0.1646,0.05194,1.0,16.0,2.27940,2.27940,-1.8,0.066338,0.1716,0.130034

In [118]:
pd.concat([df2.iloc[:,-11:-8],df2.iloc[:,-2:]],axis=1).reset_index().to_csv('Input/Prices_2017.csv')

In [37]:
df3=pd.read_csv('Input/preprocessed_heat_demand_2.csv',engine='python',sep=';',index_col=[0],
                    parse_dates=[0],infer_datetime_format=True )

In [44]:
shifted_demand=df3.DHW_kWh.reindex(index=np.roll(df3.DHW_kWh.index,-96*4))

In [45]:
shifted_demand.index=df2.index

In [56]:
shifted_demand.head()

2017-01-01 00:00:00+01:00    0.0
2017-01-01 00:15:00+01:00    0.0
2017-01-01 00:30:00+01:00    0.0
2017-01-01 00:45:00+01:00    0.0
2017-01-01 01:00:00+01:00    0.0
Name: DHW_kWh, dtype: float64

In [50]:
df4=pd.read_csv('Input/Heat_demand_new_15.csv',engine='python',sep=';|,',index_col=[0],
                    parse_dates=[0],infer_datetime_format=True )

In [51]:
df4.head()

                           Hour  Set_T  Temp  SFH15_kWh  SFH45_kWh  SFH100_kWh
2017-01-01 00:00:00+01:00     0     20  -2.0        0.0        0.0    0.137079
2017-01-01 00:15:00+01:00     0     20  -2.0        0.0        0.0    0.137079
2017-01-01 00:30:00+01:00     0     20  -2.0        0.0        0.0    0.137079
2017-01-01 00:45:00+01:00     0     20  -2.0        0.0        0.0    0.137079
2017-01-01 01:00:00+01:00     1     20  -2.1        0.0        0.0    0.071674

In [57]:
df4['DHW_kWh']=shifted_demand

In [60]:
df4.sum().round()

Hour          153457680.0
Set_T            700800.0
Temp             396587.0
SFH15_kWh          3880.0
SFH45_kWh          9876.0
SFH100_kWh        22843.0
DHW_kWh            3682.0
dtype: float64

In [61]:
df4.to_csv('Input/Heat_demand_new_15.csv')

In [75]:
from pathlib import Path

In [97]:
combinations={'house_type':'SFH100'}

In [98]:
if (combinations['house_type']=='SFH15')| (combinations['house_type']=='SFH45'):
    aux_name='SFH15_45'
else:
    aux_name='SFH100'

In [99]:
filename_heat

PosixPath('Input/preprocessed_heat_demand_2_new.csv')

In [119]:
df_prices.keys()

Index(['index', 'Price_flat', 'Price_DT', 'Export_price', 'Price_flat_mod',
       'Price_DT_mod'],
      dtype='object')

In [106]:
fields_heat=['index','Set_T','Temp', combinations['house_type']+'_kWh','DHW_kWh', 'Temp_supply_'+aux_name,'Temp_supply_'+aux_name+'_tank',
                    'COP_'+combinations['house_type'],'hp_'+combinations['house_type']+'_el_cons','COP_'+combinations['house_type']+'_DHW',
                     'hp_'+combinations['house_type']+'_el_cons_DHW','COP_'+combinations['house_type']+'_tank',
                     'hp_'+combinations['house_type']+'_tank_el_cons']
new_cols=['Set_T','Temp', 'Req_kWh','Req_kWh_DHW','Temp_supply','Temp_supply_tank','COP_SH','COP_tank','COP_DHW',
          'hp_sh_cons','hp_tank_cons','hp_dhw_cons']
df_heat=pd.read_csv(filename_heat,engine='python',sep=';',index_col=[0],
                    parse_dates=[0],infer_datetime_format=True, usecols=fields_heat)
print('df_heat read csv')
print(df_heat.head())
df_heat.columns=new_cols
print('df_heat')

df_heat read csv
                           Set_T  Temp  SFH100_kWh  DHW_kWh  \
index
2017-01-01 00:00:00+01:00     20  -2.0    0.137079      0.0
2017-01-01 00:15:00+01:00     20  -2.0    0.137079      0.0
2017-01-01 00:30:00+01:00     20  -2.0    0.137079      0.0
2017-01-01 00:45:00+01:00     20  -2.0    0.137079      0.0
2017-01-01 01:00:00+01:00     20  -2.1    0.071674      0.0

                           Temp_supply_SFH100  Temp_supply_SFH100_tank  \
index
2017-01-01 00:00:00+01:00           42.314774                46.084931
2017-01-01 00:15:00+01:00           42.314774                46.084931
2017-01-01 00:30:00+01:00           42.314774                46.084931
2017-01-01 00:45:00+01:00           42.314774                46.084931
2017-01-01 01:00:00+01:00           42.314774                46.084931

                           COP_SFH100  COP_SFH100_tank  COP_SFH100_DHW  \
index
2017-01-01 00:00:00+01:00        2.06             1.81            1.62
2017-01-01 00:15:00+01:00        2.06             1.81            1.62
2017-01-01 00:30:00+01:00        2.06             1.81            1.62
2017-01-01 00:45:00+01:00        2.06             1.81            1.62
2017-01-01 01:00:00+01:00        2.06             1.81            1.62

                           hp_SFH100_el_cons  hp_SFH100_tank_el_cons  \
index
2017-01-01 00:00:00+01:00                5.5                     5.8
2017-01-01 00:15:00+01:00                5.5                     5.8
2017-01-01 00:30:00+01:00                5.5                     5.8
2017-01-01 00:45:00+01:00                5.5                     5.8
2017-01-01 01:00:00+01:00                5.5                     5.8

                           hp_SFH100_el_cons_DHW
index
2017-01-01 00:00:00+01:00                    5.8
2017-01-01 00:15:00+01:00                    5.8
2017-01-01 00:30:00+01:00                    5.8
2017-01-01 00:45:00+01:00                    5.8
2017-01-01 01:00:00+01:00                    5.8
df_heat

In [108]:

if np.issubdtype(df_heat.index.dtype, np.datetime64):
    df_heat.index=df_heat.index.tz_localize('UTC').tz_convert('Europe/Brussels')
else:
    df_heat.index=pd.to_datetime(df_heat.index,utc=True)
    df_heat.index=df_heat.index.tz_convert('Europe/Brussels')

In [109]:
df_heat.index.dayofyear

Int64Index([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
            ...
            365, 365, 365, 365, 365, 365, 365, 365, 365, 365],
           dtype='int64', name='index', length=35040)

In [110]:
df_heat.head()

,Set_T,Temp,Req_kWh,Req_kWh_DHW,Temp_supply,Temp_supply_tank,COP_SH,COP_tank,COP_DHW,hp_sh_cons,hp_tank_cons,hp_dhw_cons
index,,,,,,,,,,,,
2017-01-01 00:00:00+01:00,20,-2.0,0.137079,0.0,42.314774,46.084931,2.06,1.81,1.62,5.5,5.8,5.8
2017-01-01 00:15:00+01:00,20,-2.0,0.137079,0.0,42.314774,46.084931,2.06,1.81,1.62,5.5,5.8,5.8
2017-01-01 00:30:00+01:00,20,-2.0,0.137079,0.0,42.314774,46.084931,2.06,1.81,1.62,5.5,5.8,5.8
2017-01-01 00:45:00+01:00,20,-2.0,0.137079,0.0,42.314774,46.084931,2.06,1.81,1.62,5.5,5.8,5.8
2017-01-01 01:00:00+01:00,20,-2.1,0.071674,0.0,42.314774,46.084931,2.06,1.81,1.62,5.5,5.8,5.8

In [107]:
df_el.head()

                           110141755846  E_PV
index
2017-01-01 00:00:00+01:00          0.01   0.0
2017-01-01 00:15:00+01:00          0.00   0.0
2017-01-01 00:30:00+01:00          0.01   0.0
2017-01-01 00:45:00+01:00          0.02   0.0
2017-01-01 01:00:00+01:00          0.01   0.0

In [113]:
filename_prices

PosixPath('Input/Prices_2017.csv')

In [114]:
df_prices=pd.read_csv(filename_prices,engine='python',sep=',|;',index_col=[0],
                            parse_dates=[0],infer_datetime_format=True )

In [115]:
df_prices.head()

,index,Price_flat,Price_DT,Export_price,Price_flat_mod,Price_DT_mod
0,2017-01-01 00:00:00+01:00,0.29,0.1646,0.05704,0.1716,0.130034
1,2017-01-01 00:15:00+01:00,0.29,0.1646,0.05704,0.1716,0.130034
2,2017-01-01 00:30:00+01:00,0.29,0.1646,0.05704,0.1716,0.130034
3,2017-01-01 00:45:00+01:00,0.29,0.1646,0.05704,0.1716,0.130034
4,2017-01-01 01:00:00+01:00,0.29,0.1646,0.05194,0.1716,0.130034

In [112]:
df_prices=pd.read_csv(filename_prices,engine='python',sep=',|;',index_col=[0],
                            parse_dates=[0],infer_datetime_format=True )
if np.issubdtype(df_prices.index.dtype, np.datetime64):
    df_prices.index=df_prices.index.tz_localize('UTC').tz_convert('Europe/Brussels')
else:
    df_prices.index=pd.to_datetime(df_prices.index,utc=True)
    df_prices.index=df_prices.index.tz_convert('Europe/Brussels')
print(df_prices.head())

                                                         index  Price_flat  \
1970-01-01 01:00:00+01:00            2017-01-01 00:00:00+01:00        0.29
1970-01-01 01:00:00.000000001+01:00  2017-01-01 00:15:00+01:00        0.29
1970-01-01 01:00:00.000000002+01:00  2017-01-01 00:30:00+01:00        0.29
1970-01-01 01:00:00.000000003+01:00  2017-01-01 00:45:00+01:00        0.29
1970-01-01 01:00:00.000000004+01:00  2017-01-01 01:00:00+01:00        0.29

                                     Price_DT  Export_price  Price_flat_mod  \
1970-01-01 01:00:00+01:00              0.1646       0.05704          0.1716
1970-01-01 01:00:00.000000001+01:00    0.1646       0.05704          0.1716
1970-01-01 01:00:00.000000002+01:00    0.1646       0.05704          0.1716
1970-01-01 01:00:00.000000003+01:00    0.1646       0.05704          0.1716
1970-01-01 01:00:00.000000004+01:00    0.1646       0.05194          0.1716

                                     Price_DT_mod
1970-01-01 01:00:00+01:00                0.130034
1970-01-01 01:00:00.000000001+01:00      0.130034
1970-01-01 01:00:00.000000002+01:00      0.130034
1970-01-01 01:00:00.000000003+01:00      0.130034
1970-01-01 01:00:00.000000004+01:00      0.130034

In [87]:
df_heat=pd.read_csv('Input/preprocessed_heat_demand_2_new.csv',engine='python',sep=';|,',index_col=[0],
                    parse_dates=[0],infer_datetime_format=True)

In [102]:
df_el = pd.read_csv(filename_el,engine='python',sep=',|;',index_col=0,
                            parse_dates=[0],infer_datetime_format=True, usecols=fields_el)
if np.issubdtype(df_el.index.dtype, np.datetime64):
    df_el.index=df_el.index.tz_localize('UTC').tz_convert('Europe/Brussels')
else:
    df_el.index=pd.to_datetime(df_el.index,utc=True)
    df_el.index=df_el.index.tz_convert('Europe/Brussels')

In [104]:
df_el.index.dayofyear

Int64Index([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
            ...
            365, 365, 365, 365, 365, 365, 365, 365, 365, 365],
           dtype='int64', name='index', length=35040)

In [88]:
df_heat.head()

,index,Set_T,Temp,SFH15_kWh,SFH45_kWh,SFH100_kWh,DHW_kWh,Temp_supply_SFH15_45,Temp_supply_SFH100,Temp_supply_SFH15_45_tank,...,COP_SFH100_DHW,hp_SFH15_el_cons,hp_SFH45_el_cons,hp_SFH100_el_cons,hp_SFH15_tank_el_cons,hp_SFH45_tank_el_cons,hp_SFH100_tank_el_cons,hp_SFH15_el_cons_DHW,hp_SFH45_el_cons_DHW,hp_SFH100_el_cons_DHW
0,2017-01-01 00:00:00+01:00,20,-2.0,0.0,0.0,0.137079,0.0,30.685779,42.314774,34.267292,...,1.62,1.5,2.0,5.5,1.5,2.0,5.8,2.2,2.5,5.8
1,2017-01-01 00:15:00+01:00,20,-2.0,0.0,0.0,0.137079,0.0,30.685779,42.314774,34.267292,...,1.62,1.5,2.0,5.5,1.5,2.0,5.8,2.2,2.5,5.8
2,2017-01-01 00:30:00+01:00,20,-2.0,0.0,0.0,0.137079,0.0,30.685779,42.314774,34.267292,...,1.62,1.5,2.0,5.5,1.5,2.0,5.8,2.2,2.5,5.8
3,2017-01-01 00:45:00+01:00,20,-2.0,0.0,0.0,0.137079,0.0,30.685779,42.314774,34.267292,...,1.62,1.5,2.0,5.5,1.5,2.0,5.8,2.2,2.5,5.8
4,2017-01-01 01:00:00+01:00,20,-2.1,0.0,0.0,0.071674,0.0,30.685779,42.314774,34.267292,...,1.62,1.5,2.0,5.5,1.5,2.0,5.8,2.2,2.5,5.8

In [82]:
df_heat.DHW_kWh=shifted_demand

In [84]:
df_heat.reset_index().to_csv('Input/preprocessed_heat_demand_2_new.csv')

In [121]:

df=pd.read_csv('Input/Heat_demand_new.csv',engine='python',sep=';', decimal=',',dtype={'SFH15_kWh':float, 'SFH45_kWh':float, 'SFH100_kWh':float})

In [122]:
df.sum().round(2)

Hour          38373180.00
Set_T           175220.00
Temp             99155.00
SFH15_kWh      3880081.19
SFH45_kWh      9876218.50
SFH100_kWh    22843298.05
dtype: float64

In [123]:
df.index=pd.date_range(start='1/1/2017', end='1/01/2018', freq='H',tz='Europe/Brussels')

In [124]:
df.keys()

Index(['Hour', 'Set_T', 'Temp', 'SFH15_kWh', 'SFH45_kWh', 'SFH100_kWh'], dtype='object')

In [125]:
df.head()

                           Hour  Set_T  Temp  SFH15_kWh  SFH45_kWh  SFH100_kWh
2017-01-01 00:00:00+01:00     0     20  -2.0        0.0        0.0     548.317
2017-01-01 01:00:00+01:00     1     20  -2.1        0.0        0.0     286.698
2017-01-01 02:00:00+01:00     2     20  -2.2        0.0        0.0     180.757
2017-01-01 03:00:00+01:00     3     20  -2.3        0.0        0.0   15390.200
2017-01-01 04:00:00+01:00     4     20  -2.6        0.0        0.0    4041.270

In [126]:
df.tail()

                           Hour  Set_T  Temp  SFH15_kWh  SFH45_kWh  SFH100_kWh
2017-12-31 20:00:00+01:00  8756     20  10.5    626.277   1046.540     1691.85
2017-12-31 21:00:00+01:00  8757     20  10.8    614.441   1068.070     1942.30
2017-12-31 22:00:00+01:00  8758     20  10.8    602.568    987.926     2737.00
2017-12-31 23:00:00+01:00  8759     20   8.3    592.583   1060.720     1843.08
2018-01-01 00:00:00+01:00  8760     20   8.3      0.000      0.000        0.00

In [127]:
df.loc[:,['SFH15_kWh', 'SFH45_kWh', 'SFH100_kWh']]/=4000

In [128]:
df.head()

                           Hour  Set_T  Temp  SFH15_kWh  SFH45_kWh  SFH100_kWh
2017-01-01 00:00:00+01:00     0     20  -2.0        0.0        0.0    0.137079
2017-01-01 01:00:00+01:00     1     20  -2.1        0.0        0.0    0.071674
2017-01-01 02:00:00+01:00     2     20  -2.2        0.0        0.0    0.045189
2017-01-01 03:00:00+01:00     3     20  -2.3        0.0        0.0    3.847550
2017-01-01 04:00:00+01:00     4     20  -2.6        0.0        0.0    1.010317

In [129]:
df.tail()

                           Hour  Set_T  Temp  SFH15_kWh  SFH45_kWh  SFH100_kWh
2017-12-31 20:00:00+01:00  8756     20  10.5   0.156569   0.261635    0.422962
2017-12-31 21:00:00+01:00  8757     20  10.8   0.153610   0.267017    0.485575
2017-12-31 22:00:00+01:00  8758     20  10.8   0.150642   0.246982    0.684250
2017-12-31 23:00:00+01:00  8759     20   8.3   0.148146   0.265180    0.460770
2018-01-01 00:00:00+01:00  8760     20   8.3   0.000000   0.000000    0.000000

In [130]:
df=(df.resample('15T').ffill())

In [131]:
df.sum().round()

Hour          153466440.0
Set_T            700820.0
Temp             396595.0
SFH15_kWh          3880.0
SFH45_kWh          9876.0
SFH100_kWh        22843.0
dtype: float64

In [132]:

df=df.iloc[:-1,:]

In [133]:
df.tail()

                           Hour  Set_T  Temp  SFH15_kWh  SFH45_kWh  SFH100_kWh
2017-12-31 22:45:00+01:00  8758     20  10.8   0.150642   0.246982     0.68425
2017-12-31 23:00:00+01:00  8759     20   8.3   0.148146   0.265180     0.46077
2017-12-31 23:15:00+01:00  8759     20   8.3   0.148146   0.265180     0.46077
2017-12-31 23:30:00+01:00  8759     20   8.3   0.148146   0.265180     0.46077
2017-12-31 23:45:00+01:00  8759     20   8.3   0.148146   0.265180     0.46077

In [150]:
df2=pd.read_csv('Input/preprocessed_heat_demand_2.csv',engine='python',sep=';',index_col=[0],
                    parse_dates=[0],infer_datetime_format=True )

In [ ]:
df2

In [143]:
df['DHW_kWh']=df2.DHW_kWh

In [134]:
df.to_csv('Input/Heat_demand_new_15.csv')